* {
    box-sizing: border-box;
}


html,
body {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgb(140, 175, 255);
    height: 1.5cm;
    width: 100%;
}

.header-title {
    width: fit-content;
    height: fit-content;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    align-self: center;
    margin: auto;
    text-align: center;
    background-color: rgb(140, 175, 255);
}


.header-auth-link {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
    right: 5px;
    text-decoration-line: none;
    cursor: pointer;
}



.header-auth-link img {
    width: 32px;
    height: 32px;
    transform: scale(1.4);
    position: relative;
    align-self: center;
}

.header-auth-link b {
    font-family: fantasy;
    position: relative;
    text-align: center;
    align-self: center;
    font-size: smaller;
    transform: scale(0.9);
    color: black;
}