* {
    box-sizing: border-box;
}


html,
body {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.upload {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 2.5cm;
    left: 1cm;
    inline-size: fit-content;
}

.files {
    position: absolute;
    display: flex;
    top: 4cm;
    left: 1cm;
    flex-direction: row;
    inline-size: fit-content;
}