.register {
    display: flex;
    inline-size: fit-content;
    margin: 1cm;
    gap: 5px;
}

.login {
    display: flex;
    flex-direction: column;
}

.password {
    display: flex;
    flex-direction: column;
}

.submit {
    display: flex;
    flex-direction: column-reverse;
}

.upload {
    display: flex;
    inline-size: fit-content;
    margin: 1cm;
}
